# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./frontend/myapp/node_modules
frontend/myapp/.pnp
frontend/myapp/.pnp.js


# production
/build

# misc
frontend/myapp/.DS_Store
frontend/myapp/.env.local
frontend/myapp/.env.development.local
frontend/myapp/.env.test.local
frontend/myapp/.env.production.local

frontend/myapp/npm-debug.log*
frontend/myapp/yarn-debug.log*
frontend/myapp/yarn-error.log*

# backend
venv/
.idea
.DS_STORE
